@page "/fetchdata"

@using BlazorApp.Data
@inject HttpClient Http


<h1>Players</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (teams == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Firstname</th>
                <th>Numero</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in teams)
            {
                <tr>
                    <td>@player.Id</td>
                    <td>@player.Name</td>
                    <td>@player.Firstname</td>
                    <td>@player.Number</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Player[] teams;

    protected override async Task OnInitializedAsync()
    {
        teams =  await Http.GetFromJsonAsync<Player[]>("https://localhost:5001/Player");
    }

    public class Player
    {
        public int Id { get; set;}

        public string Name { get; set; }

        public string Firstname { get; set; }

        public int Number { get; set; }
    }
}
