@page "/getPlayer"

@inject HttpClient Http
<div id="findPlayer"></div>
<div class="searchPlayer">
    <h1>trouver un joueur avec son id </h1>
</div>

<div class="formId">
    <div class="formId1 ">
        <input type="id" class="form-control" id="floatingInput" placeholder="Id du joueur" bind="id">
    </div>
</div>
<div class="boutonsearch">
    <button class="btn-primary" @onclick="GetPlayerById">search player</button>
</div>





@code {
    public int id { get; set; }

    public async Task GetPlayerById()
    {

        using var response = await Http.GetAsync("https://localhost:5001/Player/" + id.ToString());


    }
}
