@page "/"

<body class="accueil">
    <div class="pageaccueil">
        <h1>Bonjour a tous, bienvenue sur notre site.</h1>
    </div>
    <div class="indicaccueil">
        <a>Votre objectif est de constituer la meilleur equipe pour les championnats du monde de rugby, vos idées seront
            traitées.</a>
    </div>



</body>
<SurveyPrompt Title="How is Blazor working for you?" />
