@page "/"

<h1>Bonjour a tous, bienvenue sur notre site.</h1>

Votre objectif est de constituer la meilleur equipe pour les championnats du monde de rugby, vos idées seront traitées.



<SurveyPrompt Title="How is Blazor working for you?" />
