@page "/login"


<div class="login">
    <h1>Create an account</h1>
</div>

<div class="formulaire">
    <div class="form-floating ">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    </div>
    <div class="form-floating">
        <input type="login" class="form-control" id="floatingPassword" placeholder="login">
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="password">
    </div>
    <div class="form-floating">
        <input type="confirm password" class="form-control" id="floatingPassword" placeholder="confirm password">
    </div>
    <div class="form-floating">
        <input type="country" class="form-control" id="floatingPassword" placeholder="ville">
    </div>
    <div class="logbutton">
        <button class="btn btn-primary">login</button>
    </div>
</div>
