@page "/post"

@inject HttpClient Http
@using Newtonsoft.Json

<div class="titreEquipe">
    <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSew0ZTcxNI4DqB4a4zqIaGCH05D3BOeX3zf_6Qi9Rp8U5PGyoy_O_LY5ETjA-ruLelfTc&usqp=CAU">
    <h1>Add Players to create your team</h1>
</div>

<table class="table">
    <tbody>
        <tr>
            <td>
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input id="nom" type="text" class="form-control" name="Name">
                </div>
            </td>
            <td>
                <label for="Firstname" class="col-sm-2 control-label">Firstname</label>
                <div class="col-sm-10">
                    <input id="prenom" type="text" class="form-control" name="Firstname">
                </div>
            </td>
            <td>
                <label for="Number" class="col-sm-2 control-label">Number</label>
                <div class="col-sm-10">
                    <input id="nombre" type="int" class="form-control" name="Number">
                </div>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary" @onclick="PostPlayer">Add Player</button>

@code {
    Player player = new Player(0, "#name", "#firstname", 11);

    public async Task PostPlayer()

    {
        @* string json = JsonConvert.SerializeObject(player);
            Console.WriteLine(json); *@
        using var response = await Http.PostAsJsonAsync("https://localhost:5001/Player/post", player);
        Console.WriteLine(response.ToString());
    }
    public class Player
    {
        public int id { get; set; }

        public string name { get; set; }

        public string firstname { get; set; }

        public int number { get; set; }
        public Player(int id, string name, string firstname, int number)
        {
            this.id = id;
            this.name = name;
            this.firstname = firstname;
            this.number = number;
        }
    }
}
